<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? "#{yield(:title)} - 管理面板" : Setting.site_name %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'admin/admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admin/admin', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>

  <body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
    <!-- BEGIN PAGE-WRAPPER -->
    <div class="page-wrapper">
      <!-- BEGIN HEADER -->
      <div class="page-header navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner">
          <!-- BEGIN LOGO -->
          <div class="page-logo">
            <a href="index.html"><%= image_tag 'logo.png', class: 'logo-default' %></a>
            <div class="menu-toggler sidebar-toggler">
              <span></span>
            </div>
          </div>
          <!-- END LOGO -->
          <!-- BEGIN RESPONSIVE MENU TOGGLER -->
          <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            <span></span>
          </a>
          <!-- END RESPONSIVE MENU TOGGLER -->
          <%= render 'admin/shared/top_nav' %>
        </div>
        <!-- END HEADER INNER -->
      </div>
      <!-- END HEADER -->
      <div class="clearfix"> </div>
      <!-- BEGIN CONTAINER -->
      <div class="page-container">
        <%= render 'admin/shared/sidebar' %>
        <div class="page-content-wrapper">
          <div class="page-content">
            <%= render 'admin/shared/breadcrumbs' %>
            <%= render 'flash_messages' %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <!-- END PAGE-WRAPPER -->
    <%= javascript_include_tag 'admin/bootstrap_app', 'data-turbolinks-track': 'reload' %>
    <%= yield :foot %>
  </body>
</html>
