<!DOCTYPE html>
<html>
  <head>
    <title>test</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <%= yield :head %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
